@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}

body,
html,
* {
  font-family: "VT323", monospace !important;
}

.title {
  color: #af52bf;
  font-size: 50px;
}

.title:hover {
  opacity: 0.7;
}

.jump {
  animation: jump 500ms infinite;
}

@keyframes jump {
  0% {
    top: 240px;
  }
  50% {
    top: 200px;
  }
  100% {
    top: 240px;
  }
}
